*{
    margin: 0;
    padding : 0;
    box-sizing: border-box;
}

.row {
    display : flex;
}

.box {
    border : 1px solid black;
}

.box:hover {
    background-color: lightgray;
}

body {
    display : flex;
    flex-direction : column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap : 32px;
}

.buttons{
    display: flex;
    gap : 64px;
}

button {
    padding : 8px 16px;
    background-color: #cf0000;
    color : white;
    border-radius: 16px;
    border : none;
}

button:hover{
    background-color: #b10404;
    cursor : pointer;
}

button.color:focus {
    background-color: #890606;
}

.newGrid {
    margin-left : 16px;
}